.App {
  display: flex;
  justify-content: center;
}
.form-main {
  margin-top: 20vh;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid grey;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: column;
}

#select {
  font-size: 1.3rem;
  padding: 7px 0 8px 0;
}

.input {
  width: 175px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid grey;
}

.col div {
  padding: 1px;
}

#btn-div {
  display: flex;
  justify-content: center;
  padding: 5px;
}

label {
  padding: 5px;
}